body {                  /* Element selector */
    margin: 8px;
    padding: 16px;
    display: block; 
    background-color:#bacbdf
}

article {
    margin-bottom: 20px; /* Adds margin between articles */
}

#mainHeading {          /* ID Selector */
    color: red;
    font-size: 36px;
    text-align: center;
}

.funParagraph {         /* Class Selector */
        font-style: italic;
        color: green;
}

header {
    background-color: #bacbdf;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 18px
}

footer {
    background-color: #bacbdf;
    color: black;
    padding: 20px;
    text-align: center;
}

img {
    display: block; /* Ensures the image behaves as a block element */
    margin: 0 auto; /* Sets to center */
    margin-top: 10px
}

article {
    border: 6px solid #666666; /* Adds a gray border around articles */
    padding: 10px; /* Adds padding inside the border */
}